.root {
  width: 100%;
  height: 100%;
}

.title {
  background: rgb(121, 242, 157);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  img {
    height: 100%;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}
